.inverse {
  
  background-color: #D94432;
  color: #FFFFFF;
  text-shadow: 0 0;
  
  
}

.pull-right-title {
  float: right;
  width: 18%;
}

.pull-left-title {
  float: left;
  width: 10%;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 30%;
}

.bottom-text {
  position: absolute;
  bottom: 12px;
  left: 20px;
}

.pull-right-fig {
  float: right;
  width: 50%;
}

.center-left {
  position:          relative;
  top:               50%;
  transform:         translateY(50%);
}

.center-right {
  position:          relative;
  top:               50%;
  transform:         translateY(10%);
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.topright {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 18px;
}

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

.bottomright {
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-size: 18px;
}

.large { font-size: 130% }
.small { font-size: 70% }
